.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Xcode build output
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# CocoaPods
Pods/
